
<html>
	<head>
		<title>Your Movie</title>

	</head>

	<body>

		<div id="title">
			<%=newmovie.title %>
		</div>

		<div class="info">
			<img src=<%=newmovie.poster_url %> />
		</div>

		<div class="info">
			
				<% for i in newmovie.actors do %>
					<li> <%= i %></li>
				<% end %>

		</div>

		<div class="info">
			<%=newmovie.plot %>
		</div>

		<div class="info">
			Director
			<br/><br/>
			<%=newmovie.director %>
		</div>	

	</body>

</html>
